:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --ff: "Figtree", sans-serif;
    --fw-normal: 500;
    --fw-bold: 800;
    --fs-normal: calc(.9vw + .9vh);
}

body {
    font-size: var(--fs-normal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--yellow);
}

#container {
    background-color: var(--white);
    max-width: 366px;
    border-radius: 25px;
    box-shadow: 7px 7px black;
}

#container > * {
    font-family: var(--ff);
    margin-left: 1rem;
}

img {
    border-radius: 5%;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    margin-top: 1rem;
}

h1 {
    background-color: var(--yellow);
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1.25rem;
}

h2 {
    font-size: 1.25rem;
}

small {
    display: block;
    font-size: .75rem;
    margin-top: .1rem;
}

p {
    color: var(--grey);
    font-size: 1rem;
}

#avatar-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#avatar-container img {
    width: 35px;
    margin: 0;
}

strong {
    font-weight: var(--fw-bold);
    font-size: .75em;
    margin-left: .75rem
}